.board-row {
    display: table;
}

.square {
    background: #fff;
    border: 1px solid #999;    
    height: 34px;
    width: 34px;

    margin: -1px;    
    padding: 0;

    vertical-align: middle;
}